@model Goals_Site.Models.Equipment

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Equipment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.threeTonne_truck)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.threeTonne_truck)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MR)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MR)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pads)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pads)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Workstation_trolley)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Workstation_trolley)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bubble_wrap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bubble_wrap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Camera)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Camera)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stocktake_sheets)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stocktake_sheets)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fridge_trolley)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fridge_trolley)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Electronics_bin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Electronics_bin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.High_vis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.High_vis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IT_trolley)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IT_trolley)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.File_trolley)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.File_trolley)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Butchers_paper)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Butchers_paper)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Corrugated_cardboard)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Corrugated_cardboard)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GAN_blanklabels)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GAN_blanklabels)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Recycle_wastebin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Recycle_wastebin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nitrile_gloves)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nitrile_gloves)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IT_shelves)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IT_shelves)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bollards)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bollards)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Shrink_wrap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Shrink_wrap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Antistatic_bag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Antistatic_bag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Floorlift_protection)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Floorlift_protection)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.A4location_labels)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.A4location_labels)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.General_waste_bin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.General_waste_bin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Toll_roads)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Toll_roads)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Drill)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Drill)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Supervisors_bag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Supervisors_bag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dollies)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dollies)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Crowbar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Crowbar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Packing_tape)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Packing_tape)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ziplock_itbag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ziplock_itbag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Access_passes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Access_passes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.A3floor_plans)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.A3floor_plans)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cleaning_products)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cleaning_products)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Jelly_beans)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Jelly_beans)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cable_ties)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cable_ties)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.EquipmentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
