@model IEnumerable<Goals_Site.Models.Equipment>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.threeTonne_truck)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MR)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pads)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Workstation_trolley)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bubble_wrap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Camera)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stocktake_sheets)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fridge_trolley)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Electronics_bin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.High_vis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IT_trolley)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.File_trolley)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Butchers_paper)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Corrugated_cardboard)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GAN_blanklabels)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recycle_wastebin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nitrile_gloves)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IT_shelves)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bollards)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shrink_wrap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Antistatic_bag)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Floorlift_protection)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.A4location_labels)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.General_waste_bin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Toll_roads)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Drill)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Supervisors_bag)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dollies)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Crowbar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Packing_tape)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ziplock_itbag)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Access_passes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.A3floor_plans)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cleaning_products)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jelly_beans)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cable_ties)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.threeTonne_truck)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MR)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pads)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Workstation_trolley)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bubble_wrap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Camera)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stocktake_sheets)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fridge_trolley)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Electronics_bin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.High_vis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IT_trolley)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.File_trolley)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Butchers_paper)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Corrugated_cardboard)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GAN_blanklabels)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Recycle_wastebin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nitrile_gloves)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IT_shelves)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bollards)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Shrink_wrap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Antistatic_bag)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Floorlift_protection)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.A4location_labels)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.General_waste_bin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Toll_roads)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Drill)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Supervisors_bag)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dollies)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Crowbar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Packing_tape)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ziplock_itbag)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Access_passes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.A3floor_plans)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cleaning_products)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Jelly_beans)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cable_ties)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EquipmentId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EquipmentId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EquipmentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
