@model Goals_Site.Models.Job

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<div>
    <h4>Job</h4>
    <hr />
    <dl class="row" style="float:left;">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Job_number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Job_number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Start)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Start)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Est_finish_time)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Est_finish_time)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Scope)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Scope)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Project_manager)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Project_manager.Project_managerId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sales_manager)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sales_manager.Sales_managerId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Client)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Client.ClientId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.From_site)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.From_site)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.To_site)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.To_site)
        </dd>
    </dl>
    <dl class="row" style="float:right;">
        <dt>
            @Html.EJ().Button("CreateJobSheet").Text("Create Job Sheet").Type(ButtonType.Button).ClientSideEvents(e=>e.Click("onclick"))
        </dt>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.JobId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>


